<div class="name-card">
  <div class="name-card__content-left">
    <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.6435-9/137338262_3118289935066743_416529988896742536_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=ek0f5fkmFi0AX-3MSUH&_nc_ht=scontent.fhan14-2.fna&oh=7ffa34381b1af73403e798a0cba5334e&oe=60FBEC0E" alt="Logo" class="name-card__avatar">
  </div>
  <div class="name-card__content-right">
    <h3 class="name-card__heading">{{ cardName }}</h3>
    <p class="name-card__text">{{ email }}</p>
    <p class="name-card__text">{{ phone }}</p>
  </div>
</div>
